body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: #f3f3f3;
    flex-direction: column;
    margin: 0;
    
}

.main {
    background-color: #fff;
    border-radius: 0.9375rem; /* 15px */
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.2); /* 20px */
    padding: 0.625rem 1.25rem; /* 10px 20px */
    transition: transform 0.2s;
    width: 31.25rem; /* 500px */
    text-align: center;
}

h1 {
    color: #4CAF50;
}

h3 {
    color: #4CAF50;
}

p {
    color: #555;
}

label {
    display: block;
    width: 100%;
    margin-top: 0.625rem; /* 10px */
    margin-bottom: 0.3125rem; /* 5px */
    text-align: left;
    color: #555;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 0.9375rem; /* 15px */
    padding: 0.625rem; /* 10px */
    box-sizing: border-box;
    border: 0.0625rem solid #ddd; /* 1px */
    border-radius: 0.3125rem; /* 5px */
}

button {
    padding: 0.9375rem; /* 15px */
    border-radius: 0.625rem; /* 10px */
    margin-top: 0.9375rem; /* 15px */
    margin-bottom: 0.9375rem; /* 15px */
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4CAF50;
    width: 100%;
    font-size: 1rem; /* 16px */
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
