@import "./base.css";

#app {
  max-width: 100rem;
  font-weight: normal;
  background: #181012; /* dark fantasy background */
  color: #e7d7b1;     /* muted gold text */
  font-family: 'Cinzel', serif;
}

a,
.green {
  text-decoration: none;
  color: #e7d7b1;
  transition: 0.4s;
  padding: 0.1875rem;
  border-radius: 4px;
}

@media (hover: hover) {
  a:hover {
    background-color: #2d161a;
    color: #ffe600;
  }
}